<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>

  <body>
    <%- include ('./partials/head.ejs') %>
    <div class="flex-container">
      <a href="/showcamp/"><button>Back to Campsites</button></a>
      <a href="/camp.js/<%= camp._id %>/edit"><button>Edit Campsite</button></a>
      <form action="/camp/<%= camp._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Campsite</button>
      </form>
    </div>
    <main class="flex-container">
      <div id="camp" class="model-object">
        <img src="<%" ="camp.image" % /> width="300"/>
        <h1><%=camp.name%></h1>
        <p>Description: <%= camp.description %></p>
      </div>
    </main>
  </body>
</html>
