<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/head.ejs') %>
    <div>
      <a href="/showcamp/"><button>Back To Campsites</button></a>
      <form action="/camps/<%= camps._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Campsite</button>
      </form>
    </div>
    <main class="flex-container">
      <div id="camp" class="model-object">
        <img src="<%=camps.image %>" width="300" />
        <h1><%=camps.name%></h1>
        <p>Description: <%=camps.description %></p>
      </div>
    </main>
  </body>
</html>
