<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/showCamp.css"/>
  </head>
  <title>Camps</title>
  <body>
    <a class="homeBtn" href="/"><h3>Home</h3></a>
    <a class="trailLink" href="/showtrail/"><h3>Trails</h3></a>
  <header>
    <div class=" container containerHeader">
      <div class="titleWrapper">
        <h1>SEEK CAMPS</h1>
      </div>
    </div>
    <div class=" container containerImage">
        <div class="titleWrapper">
          <h1>SEEK CAMPS</h1>
        </div>
    </div>
  </header>
    <div class="campPage" id="container">
      <button class="addCampBtn">Add Camp</button>
      <div class="modal1">
        <div class="modal1-content">
            <span class="modal1CloseBtn">&times;</span>
            <form id="modalForm" action="/camps" method="post">
                <label for="name">Name of Campsite:</label>
                <input type="text" id="name" name="name" />
                <label for="description">Description:</label>
                <textarea name="description"></textarea>
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" />
                <label for="image">Image URL:</label>
                <input type="text" id="image" name="image" placeholder="optional" />
                <button class="secondAddCamp" type="submit">Add Campsite</button>
              </form>       
        </div>
      </div>
        <% for (let camp of camps) {%>
        <ul class="allCamps">
          <li class="db-camps">
            <div class="li-content">
              <h3><%= camp.name %></h3>
              <h5>Location: <%= camp.location%></h5>
              <a href="/camps/<%=camp._id %>">
                <img src="<%=camp.image%>" width="300" />
              </a>
              <p><%= camp.description %></p>
              <button class="editCampBtn <%=camp._id %>">Edit Campsite</button>
                <div class="modal2" id="<%=camp._id %>">
                  <div class="modal2-content">
                    <span class="modal2CloseBtn <%=camp._id %>">&times;</span>
                    <form id="modalForm2" action="/camps/<%=camp._id %>?_method=PUT" method="post">
                        <label for="name">Name of Campsite:</label>
                        <input type="text" id="name2" name="name" value="<%=camp.name%>" />
                        <label for="description">Description:</label>
                        <input type="text" id="description2" name="description" value="<%=camp.description %>"/>
                        <label for="location">Location:</label>
                        <input type="text" id="location2" name="location" value="<%=camp.location %>" />
                        <button class="secondEditBtn" type="submitEditBtn">Submit Edit</button>
                      </form>       
                  </div>
                </div>
              <form
                id="btn"
                action="/camps/<%= camp._id%>?_method=DELETE"
                method="POST"
              >
                <button type="submit" id="delete">Delete Campsite</button>
              </form>
            </div>
          </li>
      </ul>
        <% } %>
      </div>
    </div>
    <script >
    //Event listeners for Add Trail Modal
        const addModal = document.getElementsByClassName("modal1");
        const openAddModal = document.getElementsByClassName("addCampBtn");
        const closeAddModal = document.getElementsByClassName("modal1CloseBtn")[0];

        openAddModal[0].addEventListener("click", openModal1);
        closeAddModal.addEventListener("click", closeModal1);
        window.addEventListener("click", outsideClick);

        function openModal1() {
            addModal[0].style.display = "block";
        }
        
        function closeModal1() {
            addModal[0].style.display = "none";
        }
        
        function outsideClick(e) {
            if (e.target == addModal[0]) {
                addModal[0].style.display = "none";
            }
        }
     //===============================================================   
    //Event listener for the Edit Modals
    const editModal = document.getElementsByClassName("modal2");
    const openEditModal = document.getElementsByClassName("editCampBtn");
    const closeEditModal = document.getElementsByClassName("modal2CloseBtn");

    for (let i = 0; i < openEditModal.length; i++) {
      openEditModal[i].addEventListener("click", openModal2);
    }

    for (let i = 0; i < closeEditModal.length; i++) {
      closeEditModal[i].addEventListener("click", closeModal2);
    }

    window.addEventListener("click", outsideClick2);

        //funtions that target the classlist for each modal
    function openModal2(e) {
      const targetModal = document.getElementById(e.target.classList[1])
      targetModal.style.display = 'block';
    }

    function closeModal2(e) {
      const targetModal = document.getElementById(e.target.classList[1])
      targetModal.style.display = 'none';
    }

        //Allows you to close the modal just by clicking outside the modal box
    function outsideClick2(e) {
      for (let i = 0; i < editModal.length; i++) {

        if (e.target == editModal[i]) {
          editModal[i].style.display = "none";
        }
      }
    }
        //=========================================================
        //Jvascript for campsites animations of li's

        const boxes = document.querySelectorAll(".db-camps");

        window.addEventListener("scroll", checkBoxes);

         //Innerheight returns the interior height of the window
        checkBoxes();
        function checkBoxes() {
        const triggerBottom = (window.innerHeight / 5) * 4;
         //Funtion that gets the boxes to slide in while scrolling down
        boxes.forEach((box) => {
        const boxTop = box.getBoundingClientRect().top;

        if (boxTop < triggerBottom) {
        box.classList.add("show");
        } else {
        box.classList.remove("show");
      }
    });
  }
    </script>
  </body>
</html>